/*---- global variables ----*/
/*--- colors ---*/
/* Sizes */
/* standard tags */
html {
  margin: 0;
  padding: 0;
  min-width: 1024px;
}
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  font-size: 14px;
}
/* --- Designclasses --- */
.lightbox {
  background-color: #afb0b3;
  color: #5f6268;
}
.darkbox {
  background-color: #5f6268;
  color: #f1f1f1;
}
/* --- Colorclasses --- */
.green {
  color: #33cc66 !important;
}
.red {
  color: #ff2d56 !important;
}
.dark {
  color: #5f6268 !important;
}
.body-content {
  padding: 10px;
}
#header-content {
  top: 0;
  left: 0;
  right: 0;
  position: relative;
  min-height: 119px;
  height: 119px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
/* --- header Area --- */
header .content-wrapper {
  height: 100%;
  position: relative;
}
header .logoarea {
  position: relative;
  width: 143px;
}
header .content-wrapper .logoarea {
  float: right;
}
header .content-wrapper .logo {
  text-align: center;
}
header .applogo img {
  width: 143px;
}
header .logo {
  position: absolute;
  bottom: 0;
}
header .content-wrapper .top {
  height: 81px;
  float: left;
}
header .content-wrapper .top .breadcrumb {
  padding-left: 2px;
  /* in respect to the font ... */
  font-size: 13px;
  color: #f1f1f1;
}
header .content-wrapper .top .pagetitle {
  font-family: Roboto-Light;
  font-size: 35px;
  color: #f1f1f1;
  top: 22px;
  position: absolute;
}
header .content-wrapper .top-right {
  float: right;
  height: auto;
  min-width: 250px;
}
header .content-wrapper .credentialbox {
  top: 45px;
  right: 0;
  width: auto;
  position: absolute;
  font-size: 13px;
  color: #f1f1f1;
  text-align: right;
}
header .content-wrapper .adminbutton {
  position: absolute;
  top: 65px;
  right: 0;
}
header .content-wrapper #main-menu {
  position: absolute;
  bottom: 4px;
  display: table-cell;
}
header .content-wrapper .top-right .credentialbox.impersonated {
  color: #fff;
  background-color: #ff2d56;
  padding: 3px 5px;
}
button.impersonate-logout {
  cursor: pointer;
}
/* Responsive Link */
header .content-wrapper .responsivelink {
  display: none;
  text-align: center;
  vertical-align: middle;
  padding: 0 15px;
  width: 1px;
}
.alert-detail-message {
  margin-top: 5px;
  font-size: 12px;
}
.nodata-found {
  padding: 20px;
  font-family: Roboto-Black;
  font-weight: normal;
  border: 1px solid #ff2d56;
}
i.material-icons.open {
  visibility: hidden;
}
a[disabled] > i.material-icons {
  color: #87898d;
}
/* Tab headers */
.text-header {
  font-family: Roboto-Black;
  font-weight: normal;
  font-size: 1.2em;
  margin-bottom: 10px;
}
/* INFO Tooltip */
.info-tooltip {
  /*position: relative;*/
  margin-left: 2px;
}
.info-tooltip > i {
  position: relative;
  top: 3px;
  /*top: 50%;
    transform: translateY(-50%);*/
  font-size: 33px;
  /*margin-top: 3px;*/
  margin-bottom: auto;
}
.info-tooltip > i:hover {
  color: #ffcd00;
}
.info-tooltip:hover {
  cursor: default;
}
/* INFO Tooltip */
.info-tooltip.popup > i {
  font-size: 1.2em;
}
@media (max-device-width: 420px) {
  header .content-wrapper .responsivelink {
    display: table-cell;
  }
}
/* header */
.equipment-header {
  font-family: Roboto-Black;
}
.label-required {
  color: #ff2d56;
}
.outerBlur {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  -o-filter: blur(1px);
  filter: blur(1px);
}
.innerBlur {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  -o-filter: blur(0px);
  filter: blur(0px);
}
.dbNameGreen {
  color: #ffcd00;
  /*font-weight: bold;*/
}
div.testsystem-div {
  position: absolute;
  padding: 0;
  margin: 0;
  margin-top: -30px;
  color: white;
  width: 70%;
  height: 100%;
  font-size: 120px;
  opacity: 0.3;
  letter-spacing: 15px;
}
.form-group.form-group-buttons .col-md-10 button,
.form-group.form-group-buttons .col-md-10 input,
#employment-change-section input {
  display: inline-block;
}