<?xml version="1.0" encoding="utf-8"?>
<log4net>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="QuartzLog"/>
  </root>

  <logger additivity="false" name="Kapsch.IS.JobScheduler.ScheduledJobs.HelloWorldJob">
    <level value="DEBUG" />
    <appender-ref ref="HelloWorldJobAppender" />
  </logger>


  <logger additivity="false" name="Kapsch.IS.EDP.ScheduledJobs.EDP005_ProcessEngineRunner">
    <level value="DEBUG" />
    <appender-ref ref="ProcessEngineRunnerAppender" />
  </logger>

  <!-- Log Kapsch.IS.ProcessEngine, Kapsch.IS.EDP.WFActivity and Kapsch.IS.ProcessEngine.WFActivity into a single file  -->
  <logger additivity="false" name="Kapsch.IS.ProcessEngine">
    <level value="DEBUG" />
    <appender-ref ref="ProcessEngineAppender" />
  </logger>
  <logger additivity="false" name="Kapsch.IS.EDP.WFActivity">
    <level value="DEBUG" />
    <appender-ref ref="ProcessEngineAppender" />
  </logger>

  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
    <threshold value="DEBUG" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd MMM yyyy HH:mm:ss,fff}||[%thread]||%-5level||%logger||%message%newline%exception"/>
    </layout>
  </appender>

  <appender name="HelloWorldJobAppender" type="log4net.Appender.RollingFileAppender">
    <threshold value="DEBUG" />
    <file value="c:\Logs\Scheduler\Log\HelloWorldJob.log"/>
    <appendToFile value="true"/>
    <StaticLogFileName value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="1"/>
    <maximumFileSize value="10MB"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd MMM yyyy HH:mm:ss,fff}||[%thread]||%-5level||%logger||%message%newline%exception"/>
    </layout>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
  </appender>


  <appender name="ProcessEngineRunnerAppender" type="log4net.Appender.RollingFileAppender">
    <threshold value="DEBUG" />
    <file value="c:\Logs\Scheduler\Log\ProcessEngineRunner.log"/>
    <appendToFile value="true"/>
    <StaticLogFileName value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="1"/>
    <maximumFileSize value="10MB"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd MMM yyyy HH:mm:ss,fff}||[%thread]||%-5level||%logger||%message%newline%exception"/>
    </layout>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
  </appender>

  <appender name="ProcessEngineAppender" type="log4net.Appender.RollingFileAppender">
    <threshold value="DEBUG" />
    <file value="c:\Logs\Scheduler\Log\ProcessEngine.log"/>
    <appendToFile value="true"/>
    <StaticLogFileName value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="1"/>
    <maximumFileSize value="10MB"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd MMM yyyy HH:mm:ss,fff}||[%thread]||%-5level||%logger||%message%newline%exception"/>
    </layout>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
  </appender>

  <appender name="QuartzLog" type="log4net.Appender.RollingFileAppender">
    <threshold value="DEBUG" />
    <file value="c:\Logs\Scheduler\Log\Quartz.Server.log4net.log"/>
    <appendToFile value="true"/>
    <StaticLogFileName value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <maximumFileSize value="200MB"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd MMM yyyy HH:mm:ss,fff}||[%thread]||%-5level||%logger||%message%newline%exception"/>
    </layout>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
  </appender>

  <appender name="INFORollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <threshold value="INFO" />
    <file value="c:\Logs\Scheduler\Log\Quartz.Server.log4net.INFO.log"/>
    <appendToFile value="true"/>
    <StaticLogFileName value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <maximumFileSize value="200MB"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd MMM yyyy HH:mm:ss,fff}||[%thread]||%-5level||%logger||%message%newline%exception"/>
    </layout>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
  </appender>


</log4net>