<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="ActivityDLLsConfig" type="Kapsch.IS.ProcessEngine.DLLConfiguration.ActivityDLLConfigurationSection, Kapsch.IS.ProcessEngine"/>
  </configSections>
  
  <appSettings>
    <!-- where to find activity dlls -->
    <add key="DLLStepsBaseDir" value="c:\Workspaces\EDP20WEB\ProcessEngine\ProcessEngine\wfRunner\bin\Debug\ActivityDLLs\"/>
    <!-- where to find email templates -->
    <add key="EmailTemplateBaseDir" value="c:\Workspaces\EDP20WEB\ProcessEngine\ProcessEngine\wfRunner\bin\Debug\"/>
    <!-- log variables in each execution iteration ? -->
    <add key="ExecutionIteration.LogVariables" value="false"/>
    <!-- all activities use demo mode-->
    <add key="WorkflowDemoMode" value="true"/>
    <!-- if not otherwise specified use this email -->
    <add key="DefaultDemoModeRecipient" value="johannes.fleck@kapsch.net"/>
  </appSettings>

  <ActivityDLLsConfig name="irgendwas">
    <ActivityDLL dllName="EDP_Activities"     dllPath="Kapsch.IS.EDP.WFActivities.dll" />
    <ActivityDLL dllName="ProcEng_Activities" dllPath="Kapsch.IS.ProcessEngine.WFActivity.dll" />
  </ActivityDLLsConfig>

  <connectionStrings>
    <add name="WorkflowDBConnStr" connectionString="data source=s900b112;initial catalog=WorkflowEngineDev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProcessService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:15:00" sendTimeout="00:10:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:28869/Service.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IProcessService" contract="WorkflowService.IProcessService"
        name="BasicHttpBinding_IProcessService" />
    </client>
  </system.serviceModel>
</configuration>