<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EDP20Core.IsCachingActive" value="true" />
    <add key="EDP20Core.CachingTimeInMinutes" value="5" />
    <!-- connection settings for Rabbit MQ -->
    <add key="RabbitMQHostName" value="s900b112" />
    <add key="RabbitMQUserName" value="fleckj" />
    <add key="RabbitMQPassword" value="chrono" />
    <add key="RabbitMQQueueName" value="DureableQueue" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="EMD_Direct" connectionString="Data Source=s900b112;Initial Catalog=ISEmployeeMetaData_DEV;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="EMD_Entities" connectionString="metadata=res://*/DB.EMD20DataModel.csdl|res://*/DB.EMD20DataModel.ssdl|res://*/DB.EMD20DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=s900b112;initial catalog=ISEmployeeMetaData_DEV;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpEndpoint" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://gis-dev-processengine.kapsch.co.at/Webservice/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpoint"
        contract="ServiceReferenceProcessEngine.IProcessService" name="BasicHttpEndpoint" />
    </client>
  </system.serviceModel>
</configuration>