<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="DLLStepsConfig" type="Kapsch.IS.ProcessEngine.DLLStepsConfiguration.DLLStepConfigurationSection, Kapsch.IS.ProcessEngine"/>
  </configSections>

  <appSettings>
    <!-- where to find activity dlls -->
    <add key="DLLStepsBaseDir" value="c:\Workspaces\WS3\ProcessEngine\wfRunner\bin\Debug\ActivityDLLs\"/>

    <!-- all activities use demo mode-->
    <add key="WorkflowDemoMode" value="false"/>
    
    <!-- if not otherwise specified use this email -->
    <add key="DefaultDemoModeRecipient" value="johannes.fleck@kapsch.net"/>
    
  </appSettings>
  <connectionStrings>
    <add name="EMD_Export" connectionString="Data Source=s900b112;Initial Catalog=ISEDPExports_DEV;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <DLLStepsConfig name="wf_runner">
    <!-- base activities coming with process engine (no Core libs allowed) -->
    <DLLStep stepName="AuditLog"              nameSpace="Kapsch.IS.ProcessEngine.WFActivity.AuditLogActivity"      dllPath="Kapsch.IS.ProcessEngine.WFActivity.dll"/>
    <DLLStep stepName="DoubleTheCost"         nameSpace="Kapsch.IS.ProcessEngine.WFActivity.DoubleTheCostActivity" dllPath="Kapsch.IS.ProcessEngine.WFActivity.dll"/>
    <DLLStep stepName="DecisionActivity"      nameSpace="Kapsch.IS.ProcessEngine.WFActivity.DecisionActivity"      dllPath="Kapsch.IS.ProcessEngine.WFActivity.dll"/>
    <DLLStep stepName="ANDGatewayActivity"    nameSpace="Kapsch.IS.ProcessEngine.WFActivity.ANDGatewayActivity"    dllPath="Kapsch.IS.ProcessEngine.WFActivity.dll"/>
    <DLLStep stepName="XORGatewayActivity"    nameSpace="Kapsch.IS.ProcessEngine.WFActivity.XORGatewayActivity"    dllPath="Kapsch.IS.ProcessEngine.WFActivity.dll"/>

    <!-- EDP Activities (need the Core libs) -->
    <DLLStep stepName="BuildNullVarForRequestActivity"  nameSpace="Kapsch.IS.ProcessEngine.WFActivity.BuildNullVarForRequestActivity"  dllPath="Kapsch.IS.EDP.WFActivities.dll"/>
    <DLLStep stepName="EmailActivity"                   nameSpace="Kapsch.IS.ProcessEngine.WFActivity.EmailActivity"                   dllPath="Kapsch.IS.EDP.WFActivities.dll"/>
    <DLLStep stepName="EquipmentApprovalActivity"       nameSpace="Kapsch.IS.ProcessEngine.WFActivity.EquipmentApprovalActivity"       dllPath="Kapsch.IS.EDP.WFActivities.dll"/>
    <DLLStep stepName="TaskDecisionActivity"            nameSpace="Kapsch.IS.ProcessEngine.WFActivity.TaskDecisionActivity"            dllPath="Kapsch.IS.EDP.WFActivities.dll"/>
    <DLLStep stepName="TaskDecisionActivityWait"        nameSpace="Kapsch.IS.ProcessEngine.WFActivity.TaskDecisionActivityWait"        dllPath="Kapsch.IS.EDP.WFActivities.dll"/>
    <DLLStep stepName="UpdateIndividualNullVarActivity" nameSpace="Kapsch.IS.ProcessEngine.WFActivity.UpdateIndividualNullVarActivity" dllPath="Kapsch.IS.EDP.WFActivities.dll"/>
  </DLLStepsConfig>
  
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="KSMP_GenV1Soap" />
        <binding name="BasicHttpEndpoint">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://s900x250/KSMP_GenV1/KSMP_GenV1.asmx"
        binding="basicHttpBinding" bindingConfiguration="KSMP_GenV1Soap"
        contract="NavTicketSrv.KSMP_GenV1Soap" name="KSMP_GenV1Soap" />
      <endpoint address="http://s900b112.kapsch.co.at:7791/ServiceITAutomation.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpoint"
        contract="ITAutomationWebService.IServiceITAutomation" name="BasicHttpEndpoint" />
    </client>
  </system.serviceModel>
</configuration>