
@model List<Kapsch.IS.EMD.EMD20Web.Models.EquipmentInstanceModel>



    @for (int i = 0; i < Model.Count; i++)
    {

        <div class="form-group">
            <label class="control-label col-md-2">@Model[i].EquipmentName</label>




        </div>
    }


