@model Kapsch.IS.EMD.EMD20Web.Models.Kmp.KmpTestModel
@{
    ViewBag.Title = "KMP Monitoring Page";
}

<h1>KMP Monitoring Page</h1>
<div id="kmpstatus">
    STATUS=@Model.Status
</div>
<div id="errorMessage">
    @Model.Error
</div>

