<?xml version="1.0" encoding="utf-8"?>
<log4net>
  
  <root>
    <level value="DEBUG" />
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="RFileAppender"/>
    <appender-ref ref="RFileDebugAppender"/>
  </root>

  <logger additivity="false" name="Kapsch.ProcessEngine">
    <level value="DEBUG" />
    <appender-ref ref="PEngineFileAppender" />
    <appender-ref ref="PEngineDebugFileAppender"/>
  </logger>

  <!-- Colored ConsoleAppender for Warnings and Errors-->
  <appender name="ConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender" >
    <threshold value="WARN" />
    <mapping>
      <level value="ERROR" />
      <foreColor value="DarkRed" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd MMM yyyy HH:mm:ss,fff}||[%thread]||%-5level||%logger||%message%newline%exception"/>
    </layout>
  </appender>

  <!-- Standard Fileappender-->
  <appender name="RFileAppender" type="log4net.Appender.RollingFileAppender">
    <threshold value="INFO" />
    <file value="log/Overall_Log.log"/>
    <appendToFile value="true"/>
    <StaticLogFileName value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <maximumFileSize value="200MB"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd MMM yyyy HH:mm:ss,fff}||[%thread]||%-5level||%logger||%message%newline%exception"/>
    </layout>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
  </appender>

  <!-- Standard Fileappender for Debug Information-->
  <appender name="RFileDebugAppender" type="log4net.Appender.RollingFileAppender">
    <threshold value="DEBUG" />
    <file value="log/debug/Overall_Debug_Log.log"/>
    <appendToFile value="true"/>
    <StaticLogFileName value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <maximumFileSize value="20MB"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd MMM yyyy HH:mm:ss,fff}||[%thread]||%-5level||%logger||%message%newline%exception"/>
    </layout>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
  </appender>
  
  <!-- Seperate Fileappender for ProcessEngine Debug Information-->
  <appender name="PEngineDebugFileAppender" type="log4net.Appender.RollingFileAppender">
    <threshold value="DEBUG" />
    <file value="log/debug/ProcessEngine_Debug_Log.log"/>
    <appendToFile value="true"/>
    <StaticLogFileName value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="5"/>
    <maximumFileSize value="20MB"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd MMM yyyy HH:mm:ss,fff}||[%thread]||%-5level||%logger||%message%newline%exception"/>
    </layout>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
  </appender>
  
</log4net>