<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="traceManagement" type="Css.Diagnostics.TraceManagementSection, Css.Diagnostics.TraceComLib"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <connectionStrings>
    <!-- UAT Setting -->
    <!--<add name="WorkflowDBConnStr" connectionString="data source=s900b112;initial catalog=WorkflowEngine;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
    <!--<add name="EMD_Entities" connectionString="metadata=res://*/DB.EMD20DataModel.csdl|res://*/DB.EMD20DataModel.ssdl|res://*/DB.EMD20DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=s900b112;initial catalog=EMDTEST48;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!-- DEV Setting -->
    <add name="WorkflowDBConnStr" connectionString="data source=s900b112;initial catalog=WorkflowEngineDev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <!--<add name="WorkflowDBConnStr" connectionString="data source=localhost;initial catalog=WorkflowEngineDev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->    
    <add name="EMD_Entities" connectionString="metadata=res://*/DB.EMD20DataModel.csdl|res://*/DB.EMD20DataModel.ssdl|res://*/DB.EMD20DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=s900b112;initial catalog=EMDTESTDEV;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <traceManagement mode="On">
    <publishers>
      <publisher key="TraceSvrPublisher1" mode="On" assembly="Css.Diagnostics.TraceComLib" type="Css.Diagnostics.Publishers.TraceSvrPublisher">
        <attributes>
          <attribute name="url" value="tcp://localhost:13400/TraceSvr.rem"/>
        </attributes>
        <filters>
          <filter type="*" level="4"/>
        </filters>
      </publisher>
    </publishers>
    <filters>
      <filter type="*" level="4"/>
    </filters>
  </traceManagement>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingSettings" receiveTimeout="00:15:00" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="c_entron.Autodsk.Vault.Interface.Service.VaultService">
        <endpoint contract="c_entron.Autodsk.Vault.Interface.Service.IVaultService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingSettings"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>