<?xml version="1.0" encoding="utf-8"?>
<log4net>
  
  <root>
    <level value="INFO" />
    <!-- <appender-ref ref="ConsoleAppender" /> -->
    <appender-ref ref="RollingFileAppender"/>
  </root>

  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
    <threshold value="DEBUG" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd MMM yyyy HH:mm:ss,fff}||[%thread]||%-5level||%logger||%message%newline%exception"/>
    </layout>
  </appender>

  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <threshold value="INFO" />
    <file value="E:\IS_LOG\EDP20\EDP20Website\EDP20Website.log"/>
    <appendToFile value="true"/>
    <StaticLogFileName value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="30"/>
    <maximumFileSize value="10MB"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd MMM yyyy HH:mm:ss,fff}||[%thread]||%-5level||%logger||%message%newline%exception"/>
    </layout>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
  </appender>
  
</log4net>