<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- section for graphviz-->
    <section name="DLLStepsConfig" type="VizConf.DLLStepConfigurationSection, VizConf" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="traceManagement" type="Css.Diagnostics.TraceManagementSection, Css.Diagnostics.TraceComLib" />
  </configSections>
  <appSettings>
    <!-- Default config file for log4net-->
    <add key="log4net.config" value="log4net.config" />

    <!-- Set caching for DB-Core -->
    <add key="EDP20Core.IsCachingActive" value="true"/>
    <add key="EDP20Core.CachingTimeInMinutes" value="1"/>
    <add key="EDP20Core.CachingTimeInMinutesExtended" value="700"/>
    <add key="EDP20Core.CachingExtendedEntities" value="EMDSecurity,EMDSecurityAction,EMDRole,EMDEnterprise,EMDEnterpriseLocation,EMDLocation,EMDOrgUnit,EMDEquipmentDefinition,EMDPerson,EMDAccount"/>
    <add key="EDP20Core.DoCacheSecurityUser" value="true"/>
    <add key="EDP20Core.Optional.TestSystemName" value="DEV"/>
    <add key="EDP20Core.EMailSenderAddress" value="KIBSI-EDP-NoReply@kapsch.net"/>

    <add key="EDP20Core.Admins" value="mayerr,fleckj,fladisch,tischer,stagl,wollerc,ecker,platzer,arayici,forsterk,kriwka" />

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />

    <add key="EMD20Web.Version" value="EDP 2" />
    <add key="EMD20Web.BrowserCacheNumber" value="123" />
    <add key="EMD20Web.WebPathPersonImages" value="http://gis-dev-edp.kapsch.co.at/Images/" />
    <add key="EMD20Web.PersonImageFileNameBlank" value="AD_blank.jpg"/>
    <add key="EMD20Web.FolderPathAdPersonImage" value="C:\KAGMA\"/>
    <add key="EMD20Web.PersonPictureJobID" value="8"/>
    <add key="EMD20Web.PhoneBookWebpath" value="http://gis-uat.kapsch.co.at/ASPNet4C/EMD/Search_DEV.aspx" />

    <!-- ISUtil E-Mail Configuration -->
    <add key="EMailTemplateDirectory" value="MailTemplates" />
    <add key="Mailhost" value="smtp.kapsch.co.at" />
    <add key="Mailhost_Port" value="25"/>
    <add key="EDP20Core.Optional.TestMailReceiver" value="KBC_KIBSI-EDP-WorkflowTest@kapsch.net"/>


    <!--<add key="EMD20Web.FolderPathPersonImageUpload" value="C:\EDP20\Web\ImageUpload\KAGMA\" /> Only needed in Live & UAT Deployments otherwise the maps into Project\TempFileUploads\KAGMA -->

    <!-- Javascript Settings -->
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <!-- Config Section for graphViz Module -->
  <DLLStepsConfig name="VizConfigWorkflowImage">
    <DLLStep namespace="Kapsch.IS.EDP.WFActivity.SetEnterpriseLocationStatus.SetEnterpriseLocationStatusActivity" style="shape=box" />
    <DLLStep namespace="Kapsch.IS.EDP.WFActivity.SetEquipmentStatus.SetEquipmentStatusActivity" style="shape=box" />
    <DLLStep namespace="Kapsch.IS.EDP.WFActivity.StartTimed.StartTimedActivity" style="shape=ellipse" />
    <DLLStep namespace="Kapsch.IS.EDP.WFActivity.TaskDecision.TaskDecisionActivityWait" style="shape=parallelogram" />
    <DLLStep namespace="Kapsch.IS.EDP.WFActivity.TaskDecision.TaskCallbackActivity" style="shape=parallelogram" />
    <DLLStep namespace="Kapsch.IS.EDP.WFActivity.FinishOnboarding.FinishOnboardingActivity" style="shape=box" />

    <DLLStep namespace="Kapsch.IS.EDP.WFActivity.NavisionTicket.NavisionTicketActivity" style="shape=box, style=filled, fillcolor=aliceblue" />
    <DLLStep namespace="Kapsch.IS.EDP.WFActivity.NavisionTicket.NavisionTicketActivityWait"  style="shape=box, style=filled, fillcolor=aliceblue"/>
    <!--style="shape=parallelogram, margin=-0.1, pad=-0.1" -->

    <DLLStep namespace="Kapsch.IS.EDP.WFActivity.SetEmploymentStatus.SetEmploymentStatusActivity" style="shape=box" />
    <DLLStep namespace="Kapsch.IS.EDP.WFActivity.ChangeEquipment.ChangeEquipmentActivity" style="shape=box" />

    <DLLStep namespace="Kapsch.IS.EDP.WFActivity.Email.EmailActivity" style="shape=box, style=filled, fillcolor=palegreen1" />

    <DLLStep namespace="Kapsch.IS.EDP.WFActivity.RemoveOnboarding" style="shape=box" />
    <DLLStep namespace="Kapsch.IS.EDP.WFActivity.ChangeEmployment.ChangeEmploymentActivity" style="shape=box" />
    <DLLStep namespace="Kapsch.IS.EDP.WFActivity.ChangeObre.ChangeObreActivity" style="shape=box" />
    <DLLStep namespace="Kapsch.IS.EDP.WFActivity.OffBoarding.OffBoardingActivity" style="shape=box" />
    <DLLStep namespace="Kapsch.IS.EDP.WFActivity.TaskDecision.TaskDecisionActivity" style="shape=box" />
    <DLLStep namespace="Kapsch.IS.EDP.WFActivity.UpdateIndividualNullVar.UpdateIndividualNullVarActivity" style="shape=box" />
    <DLLStep namespace="Kapsch.IS.ProcessEngine.WFActivity.ANDGateway.ANDGatewayActivity" style="shape=diamond" />
    <DLLStep namespace="Kapsch.IS.ProcessEngine.WFActivity.AuditLog.AuditLogActivity" style="shape=box" />
    <DLLStep namespace="Kapsch.IS.ProcessEngine.WFActivity.End.EndActivity" style="shape=box, style=filled, fillcolor=gray" />
    <DLLStep namespace="Kapsch.IS.ProcessEngine.WFActivity.EvaluationDecision.EvaluationDecisionActivity" style="shape=diamond" />
    <DLLStep namespace="Kapsch.IS.ProcessEngine.WFActivity.Start.StartActivity" style="shape=ellipse" />
    <DLLStep namespace="Kapsch.IS.ProcessEngine.WFActivity.SubWorkflow.SubWorkflowActivity" style="shape=box, peripheries=2, color=&quot;blue:invis:black&quot;" />
    <DLLStep namespace="Kapsch.IS.ProcessEngine.WFActivity.XORGateway.XORGatewayActivity" style="shape=diamond" />

    <DLLStep namespace="default" style="shape=ellipse" />
  </DLLStepsConfig>

  <connectionStrings>
    <add name="EMD_DataBase" connectionString="metadata=res://*/DB.EMD20DataModel.csdl|res://*/DB.EMD20DataModel.ssdl|res://*/DB.EMD20DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=s900b112;initial catalog=ISEmployeeMetaData_HOTFIX;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EMD_Entities" connectionString="metadata=res://*/DB.EMD20DataModel.csdl|res://*/DB.EMD20DataModel.ssdl|res://*/DB.EMD20DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=s900b112;initial catalog=ISEmployeeMetaData_HOTFIX;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JobScheduler" connectionString="Data Source=localhost;Initial Catalog=ISJobScheduler_DEV;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="EMD.DataAccess.Price.KBCAccounting" connectionString="Data Source=sql05\std02;Initial Catalog=GITAccounting;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="EMD_Direct" connectionString="Data Source=s900b112;Initial Catalog=ISEmployeeMetaData_HOTFIX;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>


  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime maxQueryStringLength="32768" maxUrlLength="65536" targetFramework="4.5" />
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    <!-- Use the UI-Culture always in english, the server format is German because of DATETIME formats: switching to english fails for german date formats -->
    <globalization uiCulture="en-US" culture="de-DE"></globalization>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.3.0" newVersion="2.3.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!-- Tracing for CSS.Coyote tracing -->
  <traceManagement mode="On">
    <publishers>
      <publisher key="TraceSvrPublisher1" mode="On" assembly="Css.Diagnostics.TraceComLib" type="Css.Diagnostics.Publishers.TraceSvrPublisher">
        <attributes>
          <attribute name="url" value="tcp://localhost:13400/TraceSvr.rem" />
        </attributes>
        <filters>
          <filter type="*" level="4" />
        </filters>
      </publisher>
    </publishers>
    <filters>
      <filter type="*" level="4" />
    </filters>
  </traceManagement>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProcessService" maxReceivedMessageSize="2147483647" receiveTimeout="00:15:00" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WsSecured" messageEncoding="Text" maxReceivedMessageSize="2147483647" receiveTimeout="00:15:00" textEncoding="utf-8">
          <security mode="Transport">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None"
              negotiateServiceCredential="false"
              establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://gis-dev-processengine.kapsch.co.at/Webservice/Service.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IProcessService" contract="ServiceReferenceProcessEngine.IProcessService"
        name="BasicHttpBinding_IProcessService" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768"/>
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>