<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="EMD20Web.FolderPathAdPersonImage" value="C:\Websites\KAG_MA" xdt:Transform="SetAttributes"
          xdt:Locator="Match(key)"/>

    <add key="EMD20Web.WebPathPersonImages" value="http://is-uat.kapsch.co.at:7781/" xdt:Transform="SetAttributes"
      xdt:Locator="Match(key)"/>

  </appSettings>
  <connectionStrings>
    <add name="EMD_DataBase" connectionString="metadata=res://*/DB.EMD20DataModel.csdl|res://*/DB.EMD20DataModel.ssdl|res://*/DB.EMD20DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLExpress;initial catalog=ISEmployeeMetaData_Local;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="EMD_Entities" connectionString="metadata=res://*/DB.EMD20DataModel.csdl|res://*/DB.EMD20DataModel.ssdl|res://*/DB.EMD20DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLExpress;initial catalog=ISEmployeeMetaData_Local;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="EMD_Direct" connectionString="Data Source=s900b112;localhost\SQLExpress;initial catalog=ISEmployeeMetaData_Local;Integrated Security=True;" providerName="System.Data.SqlClient"
  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IProcessService" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8081/Webservice/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProcessService"
        contract="ServiceReferenceProcessEngine.IProcessService" name="BasicHttpBinding_IProcessService"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"      />
    </client>
  </system.serviceModel>
</configuration>