<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EMD.DataAccess.Price.KBCAccounting" connectionString="Data Source=sql05\std02;Initial Catalog=GITAccounting;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="DataAccess.IsMockup" value="false"></add>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
