<configuration>
<configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="traceManagement" type="Css.Diagnostics.TraceManagementSection, Css.Diagnostics.TraceComLib"/>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>

  <appSettings>
    <!-- where to find activity dlls -->
    <add key="DLLStepsBaseDir" value="C:\Quartz\_ProcessEngine\Activities\"/>
    <!-- where to find email templates -->
    <add key="EmailTemplateBaseDir" value="."/>
    <!-- log variables in each execution iteration ? -->
    <add key="ExecutionIteration.LogVariables" value="false"/>

    <!-- if not otherwise specified use this email -->
    <add key="DefaultDemoModeRecipient" value="KBC_KIBSI-EDP-WorkflowTest@kapsch.net"/>

    <!-- prefix every email -->
    <add key="EmailSubjectPrefix" value="DEV:"/>

    <!-- max concurrent proceng processes -->
    <add key="MaxProcessEngineProcesses" value="30"/>

    <!-- is this a prod system ? -->
    <add key="ProcessEngine.IsProduction" value="false"/>

    <!-- default error activity class name if not configured in workflow xml attribute "errorActivity" -->
    <add key ="ProcessEngine.EDP.DefaultErrorActivity.Name" value ="Kapsch.IS.EDP.WFActivity.Error.DefaultErrorActivity"/>

    <!-- default email recipients for error activity; FindTaskApproverForEffectedPerson function is used e.g. R_xx; MAIL_blabla -->
    <add key="ProcessEngine.EDP.DefaultErrorActivity.MailRecipient" value="MAIL_johannes.fleck@kapsch.net"/>

    <!-- default email template for error activity -->
    <add key="ProcessEngine.EDP.DefaultErrorActivity.MailTemplate" value="DefaultEdpErrorEmail"/>

    <!-- default task receivers for error task (coming from EDPErrorActivtiy) FindTaskApproverForEffectedPerson function is used e.g. R_xx; MAIL_blabla -->
    <add key="ProcessEngine.EDP.DefaultErrorActivity.TaskReceiver"  value="RS_ErrorGroup"/>

    <add key="JiraTicketUserName" value="sysu_ktc_jira_edp_sy" />
    <add key="JiraTicketUserPassword" value="2DbZO3y8jc!#>?@" />
    <add key="JiraUrl" value="https://jira.kapschtraffic.com" />
    <add key="EDPLiteRestUrl" value ="http://s900b112:7092/Webservice/EDPLiteService.svc/rest/" />

  </appSettings>

  <connectionStrings>
    <add name="WorkflowDBConnStr" connectionString="data source=s900b112;initial catalog=WorkflowEngineDEV;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="EMD_Entities" connectionString="metadata=res://*/DB.EMD20DataModel.csdl|res://*/DB.EMD20DataModel.ssdl|res://*/DB.EMD20DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=s900b112;initial catalog=EMDTESTDEV;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="KSMP_GenV1Soap" />
        <binding name="BasicHttpBinding_IProcessService" maxReceivedMessageSize="2147483647" receiveTimeout="00:15:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://s900x250/KSMP_GenV1/KSMP_GenV1.asmx"
          binding="basicHttpBinding" bindingConfiguration="KSMP_GenV1Soap"
          contract="NavTicketSrvTEST.KSMP_GenV1Soap" name="KSMP_GenV1Soap" />

      <endpoint address="http://gis-uat.kapsch.co.at/WSProcessEngineDEV/Service.svc" binding="basicHttpBinding"
       bindingConfiguration="BasicHttpBinding_IProcessService" contract="ServiceReferenceProcessEngine.IProcessService"
       name="BasicHttpBinding_IProcessService" />
      
    </client>
  </system.serviceModel>


</configuration>