@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: local('Cuprum'), local('Cuprum-Regular'), url(wZFcXoYCGA2FK2-RHk5PHQ.woff2) format('woff2'), url(wHBEZCjwNI3HN2fD1RQJgw.woff) format('woff');
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: local('Cuprum'), local('Cuprum-Regular'), url(Nrq8jR5mh0BrUgnbYvOXFw.woff2) format('woff2'), url(7YX7MpZfYX5IYkPlvizk1w.woff) format('woff');
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: local('Cuprum'), local('Cuprum-Regular'), url(rZj40-VH1f1Wt0yg6Fkbcw.woff2) format('woff2'), url(sp1_LTSOMWWV0K5VTuZzvQ.woff) format('woff');
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 700;
    src: local('Cuprum Bold'), local('Cuprum-Bold'), url(n3IzcUkIerri6e9sz7DgbltXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(n3IzcUkIerri6e9sz7Dgbj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 700;
    src: local('Cuprum Bold'), local('Cuprum-Bold'), url(uzbsbn5ow8tu8vOkX1aoc1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(uzbsbn5ow8tu8vOkX1aocz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 700;
    src: local('Cuprum Bold'), local('Cuprum-Bold'), url(SfDyn5tWOk7I1we45jpLK1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(SfDyn5tWOk7I1we45jpLKz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


@font-face {
    font-family: 'Roboto-Light';
    src: url('kapsch/fonts/Roboto-Light-webfont.eot');
    src: url('kapsch/fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('kapsch/fonts/Roboto-Light-webfont.woff') format('woff'), url('kapsch/fonts/Roboto-Light-webfont.ttf') format('truetype'), url('kapsch/fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('kapsch/fonts/Roboto-Black-webfont.eot');
    src: url('kapsch/fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'), url('kapsch/fonts/Roboto-Black-webfont.woff') format('woff'), url('kapsch/fonts/Roboto-Black-webfont.ttf') format('truetype'), url('kapsch/fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('Content/kapsch/fonts/RobotoCondensed-Bold-webfont.eot');
    src: url('Content/kapsch/fonts/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('Content/kapsch/fonts/RobotoCondensed-Bold-webfont.woff') format('woff'), url('Content/kapsch/fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype'), url('Content/kapsch/fonts/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('kapsch/fonts/RobotoCondensed-Regular-webfont.eot');
    src: url('kapsch/fonts/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('kapsch/fonts/RobotoCondensed-Regular-webfont.woff') format('woff'), url('kapsch/fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'), url('kapsch/fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('kapsch/fonts/Roboto-Regular-webfont.eot');
    src: url('kapsch/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('kapsch/fonts/Roboto-Regular-webfont.woff') format('woff'), url('kapsch/fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('kapsch/fonts/Roboto-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('kapsch/fonts/Roboto-Medium-webfont.eot');
    src: url('kapsch/fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('kapsch/fonts/Roboto-Medium-webfont.woff') format('woff'), url('kapsch/fonts/Roboto-Medium-webfont.ttf') format('truetype'), url('kapsch/fonts/Roboto-Medium-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
