<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TestMaster" connectionString="Data Source=s900b112;Initial Catalog=ISEmployeeMetaData_NUnit;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="EMD_Entities" connectionString="metadata=res://*/DB.EMD20DataModel.csdl|res://*/DB.EMD20DataModel.ssdl|res://*/DB.EMD20DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=s900b112;initial catalog=ISEmployeeMetaData_NUnit;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EMD_Direct" connectionString="Data Source=s900b112;Initial Catalog=ISEmployeeMetaData_NUnit;Integrated Security=True;" providerName="System.Data.SqlClient" />    
  </connectionStrings>
</configuration>