<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuditLogService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://s900b112:7000/AuditLogWS_DEV/IAuditLogService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuditLogService"
                contract="AuditLog.WebService.IAuditLogService" name="BasicHttpBinding_IAuditLogService" />
        </client>
    </system.serviceModel>
</configuration>